*{
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calendar{
  width: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  padding: 8px;
}
.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3498;
  color: #fff;
  padding: 5px;
}
button{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
}
select{
  font-size: 18px;
  padding: 0px 8px;
  border: 1px solid  #3498;
  border-radius: 4px;
  margin: 0 10px;
}
.daysOfWeek{
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #3498;
  margin-bottom: 10px;
}

.days{
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 8px;
}

.day,.empty{
  padding: 10px;
  text-align: center;
  border: 1px solid #3498;
  cursor: pointer;
}
.empty{
  background-color: #f9f9f9;
}
.day:hover{
  background-color: #3498;
  color: #fff;
}
.current{
  background-color: tomato;
  color:white;
}
